# SGC ERP - Entorno de Configuración
PORT=5000
NODE_ENV=production
JWT_SECRET=sgc_super_secret_enterprise_jwt_key_2026_cambri
DB_DIALECT=sqlite
DB_STORAGE=./data/sgc_erp.sqlite

# Configuración SMTP Opcional
SMTP_HOST=smtp.mailgun.org
SMTP_PORT=587
SMTP_USER=postmaster@cambri.com.do
SMTP_PASS=tu_password_aqui
SMTP_FROM=notificaciones@cambri.com.do
