# Nexus ERP - Configuración de Producción
PORT=5005
NODE_ENV=production
JWT_SECRET=nexus_erp_super_secret_enterprise_jwt_key_2026_spawx

# Base de Datos PostgreSQL
DB_TYPE=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=nexus_erp
DB_USER=educrm_user
DB_PASSWORD=NuevaPasswordSegura
DATABASE_URL=postgresql://educrm_user:NuevaPasswordSegura@127.0.0.1:5432/nexus_erp

# Configuración SMTP Opcional
SMTP_HOST=smtp.mailgun.org
SMTP_PORT=587
SMTP_USER=postmaster@spawx.uk
SMTP_PASS=tu_password_aqui
SMTP_FROM=notificaciones@spawx.uk
